html, body { margin: 0; padding: 0;}

body {
	font-family: "proxima-nova" sans-serif;
	max-height: 100%;
	background: #000;
	overflow: hidden;
}

section {
	color: white;
	min-height: 100%;
}

input {
	display: block;
}

input[type='text'] {
	outline: none;
	width: 300px;
	max-width: 500px;
	padding: 1em;
	color: white;
	border: 1px solid #666;
	background: transparent;
	transition: all linear .3s;
}

input[type='text']:hover, input[type='text']:focus {
	border-color: white;
}


h1 {
	font-size: 82px;
}

#background {
	min-width: 100%;
}

label {
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	margin-top: 1em;
	margin-bottom: .4em;
}

aside {
	z-index: 100;
	position: absolute;
	left: 2em;
	bottom: 2em;
}

header {
	color: white;
}

header p {
	font-size: 32px;
}

#settings {
	margin: 2em;
}

.settings-area {
	float: left;
	max-width: 600px;
}

.form-group {
    min-height: 330px;
	float: left;
	margin-right: 2em;
	margin-bottom: 2em;
	padding: .5em 2em;
	border-left: 2px solid white;
}

.form-group-seamless {
	border: none;
	padding: .5em 2em .5em 0;
}

.form-item {
	font-size: 18px;
	margin: 1em 0;
}

.form-space-after {
	margin-bottom: 2em;
}

a.button {
	text-decoration: none;
	margin: 1em 0;
	outline: none;
	display: inline-block;
	cursor: pointer;
	background: transparent;
	color: white;
	border: 1px solid #666;
	padding: 1em 2em;
	font-size: 22px;
	transition: all linear .3s;
}

a.button:hover {
	background: white;
	color: black;
}

select {
	background: transparent;
	width: 70%;
	max-width: 500px;
	display: block;
	padding: 1em 2em;
	border: 2px solid white;
	color: white;
}

hr {
	margin: 1em 0;
	display: inline-block;
	height: 2px;
	width: 100%;
	background: white;
	border: none;
}

.half {
	width: 50%;
}

#clock, #weather {
	float: left;
}

#temp, #dial, #wind {
	margin-bottom: .2em;
	padding-bottom: .1em;
	border-bottom: 1px solid white;
	font-size: 82px;
}

.weather-top {
	display: block;
}

.weather-top div:first-of-type {
	margin-right: 30px;
}

#temp, #wind {
	float: left;
}

#tempUnit, #windUnit {
	font-size: 32px;
}

#location, #greeting {
	clear: both;
	letter-spacing: 2px;
	font-weight: 100;
}

a.edit {
	letter-spacing: 2px;
	color: white;
	text-decoration: none;
}

.edit {
	transition: all .5s linear;
	font-size: 14px;
	opacity: 0.2;
}

.edit:hover {
	opacity: 1;
	cursor: pointer;
}

#clock {
	width: 330px;
	margin-right: 30px;
}

/* switch */

.onoffswitch {
	font-family: beb;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 29px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: 'proxima-nova',Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #000000; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #000000; color: #737373;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 0px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.onoffswitch-theme-inner:before {
	content: 'DARK' !important;
}

.onoffswitch-theme-inner:after {
	color: white;
	content: 'LIGHT' !important;
}